body {
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: 30px;
  text-decoration: none;
  background: black;
  color: wheat;
  /* color: antiquewhite;
  background: linear-gradient(
    to right,
    #6a82fb,
    #fc5c7d
  );  */
}

a {
  color: white;
  text-decoration: none;
}
